body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  max-width: 350px;
  width: 90%;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff9800;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

img {
  width: 100%;
  border-radius: 8px;
  margin: 15px 0;
}

#error {
  color: #ff6b6b;
  margin-top: 10px;
}

.images {
  display: flex;
  gap: 10px;
  align-items: center; /* centre verticalement */
}

.images img {
  width: 100%;
  max-width: 48%;
  object-fit: contain;
  border-radius: 8px;
}

/* Option mobile : empiler les images */
@media (max-width: 480px) {
  .images {
    flex-direction: column;
  }

  .images img {
    max-width: 100%;
  }
}